@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-primary text-secondary antialiased;
}
.nuxt-icon svg {
  margin-bottom: 0 !important;
}

.grecaptcha-badge { 
  visibility: hidden; 
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}

/* HELPERS */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.error-message-arrow-up {
  width: 0;
  height: 0;
  @apply border-l-4 border-l-transparent;
  @apply border-r-4 border-r-transparent;
  @apply border-b-4 border-b-danger;
}
