@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-primary text-secondary antialiased;
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif;
}

/* HELPERS */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}
.error-message-arrow-up {
  @apply w-0 h-0;
  @apply border-l-4 border-l-transparent;
  @apply border-r-4 border-r-transparent;
  @apply border-b-4 border-b-danger;
}

/* TRANSITIONS */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 0.15s ease-out;
}
.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 0.15s ease-out;
}
.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(-100%);
}
